<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--
    <default>
        <some>
            <random>
                <xpath>Here is a value.</xpath>
            </random>
        </some>
    </default>
    <stores>
        <french>
            <some>
                <random>
                    <xpath>Here is a french value.</xpath>
                </random>
            </some>
        </french>
    </stores>
    -->
    <modules>
        <First_Module>
            <version>3.5.0.13</version>
        </First_Module>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>First_Module_Block_Product_View</product_view>
                </rewrite>
            </catalog>
            <first_module>
                <class>First_Module_Block</class>
            </first_module>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <product>First_Module_Model_Product</product>
                </rewrite>
            </catalog>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product>First_Module_Model_Product_Resource_Model</product>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <first_module>
                <class>First_Module_Model</class>
                <resourceModel>first_module_resource</resourceModel>
            </first_module>
            <first_module_resource>
                <class>First_Module_Model_Resource</class>
                <entities>
                    <ticket>
                        <table>first_module_ticket</table>
                    </ticket>
                    <comment>
                        <table>first_module_comment</table>
                    </comment>                    
                </entities>
            </first_module_resource>
        </models>
        <helpers>
            <customer>
                <rewrite>
                    <address>First_Module_Helper_Address</address>
                </rewrite>
            </customer>
            <!--
            <sales>
                <rewrite>
                    <data>First_Module_Helper_Data</data>
                </rewrite>
            </sales>
            -->
            <first_module>
                <class>First_Module_Helper</class>
            </first_module>
        </helpers>
        <resources>
            <first_module_setup>
                <setup>
                    <module>First_Module</module>
                </setup>
            </first_module_setup>
        </resources>   
    </global>
    <admin>
        <routers>
            <first_module>
                <use>admin</use>
                <args>
                    <!--
                    This tells Magento where to find
                    adminhtml controllers for this module.
                    -->
                    <module>First_Module_Adminhtml</module>
                    <!-- This is the term used in the actual URL. -->
                    <frontName>first_module_admin</frontName>
                </args>
            </first_module>
        </routers>
    </admin>
</config>
